.carouselDiv {
    /* width: 100%; */
    height: 90%;
    background-color: #ffffffb6;
    margin: 10px 20px;
    border-radius: 10px;
    padding: 12px;  

}
.carouselDiv > * {
    width: 100%;
    height: 100%;
}

.carouselItem {  
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
}

.carouselSlides {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}

.carouselItem:hover {
    cursor: pointer;
}
.carouselImg {
   margin: auto;
   width:100%;
   height: 100%;
   object-fit: cover;
   /* padding: 5px; */
   /* display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center; */
}

.carouselImgDiv {
    background-color: white;
    width: 40%;
    height: 70%;
    /* min-height: 120px; */
    text-align: center;
    margin: auto;
    border-bottom: 10px #00BCD4 solid;
    border-radius: 10px;
    margin-bottom: 0;
    padding: 10px;
    overflow: auto;
    
}
.carouselCaption {
    font-size: 16px;
}

.carouselIndicators{
    bottom: -20px;
}


@media (min-width: 800px) {
    .carouselImg {
       margin-top: 10px;
       width: 300px;
       height: 300px;
     }
    .carouselDiv {
       height: 100%;
       background-color: #ffffffb6;
       margin: 0;
       border-radius: 10px;
     }
     .carouselImg {
        margin: auto;
        width: 90%;
        height: 100%;
        /* padding: 5px; */
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
     }
     .carouselImgDiv {
        background-color: white;
        width: 50%;
        /* padding: 5px; */
        height: 80%;
        min-height: 120px;
        text-align: center;
        margin: auto;
        border-bottom: 10px #00BCD4 solid;
        border-radius: 10px;
    }
}