.board {
    width: 100%;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 20px;
    padding: 10px;
}

.AddMissionTargetForm {
    height: max-content;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AddMissionTargetForm > label >input,
.AddMissionTargetForm > input {
    width: 150px;
    height: 40px;
    background-color: rgba(240, 240, 240, 0.85);
    color: #777777;
    margin-left: 30px;
}

.AddMissionTargetForm > input {
    width: 120px;
    background-color: white;
    color: #220837;
    margin: 0 !important;
} 

.errorMessage {
    color: black;
    font-size: small;
}