.board {
   height: 100%;
   background-color: #ffffffb6;
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   border-radius: 10px;
   margin: 0 20px;
   padding: 10px;
   overflow: auto;
}

.missionBoard {
   padding: 10px;
   background-color: white;
   color: black;
   border-radius: 10px;
   margin: auto;
   border-bottom: 10px #FFC700 solid;
   box-shadow: 3px 3px 3px 0px rgb(177, 177, 177);
}

.missionBoard > h5 {
   /* background-color: grey; */
   width: 200px;
   border-radius: 10px;
   margin-bottom: 10px;
}

.missionBoard > img {
   width: 100px;
   height: 100px;
   object-fit: cover;
   margin-bottom: 10px;
}
.form {
   height: 20%;
   /* overflow: auto; */
}
.addMissionForm {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 10px;
}
.addMissionForm > label {
   font-size: 17px;
}

.addMissionForm > label> input,
.addMissionForm > input {
   width: 180px;
   height: 30px;
   background-color: #eeeeee;
   color: #888888;
   margin-left: 30px;
}

.addMissionForm > input {
   width: 100px;
   background-color: #ffffff;
   color: #666666;
   /* margin-top: 10px; */
   height: auto;
   margin: 0 !important;
}

.errorMessage {
   color: black;
   font-size: small;
}

@media (min-width: 800px) {
   .board {
      overflow: auto;
      /* height: 100%; */
   }
   .addMissionForm{
      font-size: 20px;
   }
   .addMissionForm > label> input,
.addMissionForm > input {
   width: 150px;
   height: 30px;
   background-color: #8fb1c3c7;
   color: white;
   margin-left: 30px;
   font-size: 16px;
}
.missionBoard {
   /* margin: 10px; */
}
   .missionBoard > img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom: 10px;
   }
}