.board {
    width: 100%;
    display:flex;
    flex-direction: column;
    /* flex:1; */
}
.page_title {
    color: white;
    text-align: left;
    margin-left: 10px;
    font-weight: bolder;

}
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 25px 0px; 
}

.customizedMission {
    border: none;
    background-color: #E0D5EB;
    width: 40%;
    height: 40px;
    color: #220837;
    border-radius: 20px;
    position: relative;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.customizedMission > img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: -20px;
    top: -10px;
}

.addMissionFormDiv {
    /* max-height: 42vh; */
    overflow: auto;
}

.addMissionFormDiv {
    width: 100vw;
    /* flex:1; */
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.selectionDiv {
    height:25vh;
}

.addMissionBoardBody {
    /* flex:1; */
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 800px) {
    
    .addMissionBoardBody {
        flex:1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        height: 100%;
    }
    .addMissionFormDiv {
        height: 100%;
        width: 40vw;
        margin: 0 20px;
    }
    .selectionDiv {
        height:60vh;
        width: 40vw;
        margin: 0;
        margin: 0 20px;
    }
 
}