.main {
    height: 100%;
    overflow: auto;
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.card {
    background-color: #ffffff;
    border-radius: 8px 8px 0 0;
    padding: 30px;
    color: #606060;
    width: 90%;
    max-width: 550px;
}

.cardContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 100%;
}

.avatarContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.avatar {
    width: 150px;
    background-color: #C4C4C4;
    border-radius: 8px;
}


.details {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin: 0 10px;
}

.nickname {
    font-size: 22px;
    color: #4C0641;
    margin-top: 8px;
}

.contentItem {
   display: flex;
   width: 100%;
}

.smallTitle {
    display: flex;
    flex: 1;
    align-items: space-between;
    justify-content: space-between;
    color: grey;
    font-size: 14px;
}

.item {
    display: flex;
    flex: 2;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 200px;
}

.cardBottom {
    background-color: #FFCF00;
    height: 15px;
    box-sizing: border-box;
    width: 90%;
    border-radius: 0 0 8px 8px;
    max-width: 550px;
}


.logoutButton {
    background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0 0 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-height: 667px) { 
    .logoutButton {
        background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
        color: white;
        border-radius: 20px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        font-weight: bold;
        width: 135px;
        cursor: pointer;
        text-align: center;
        margin: 10px 5px 0 5px;
    }

    .buttons {
        display: block !important;
        flex-direction: column;
        align-items: center;
    }
}