.savingItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    background-color: #ffffff;
    color: #4F0055;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    flex:1;
    position: relative;
}

.savingItemDetails {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 2;
}

.title{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.column {
    color: grey;
    text-align: start;
    font-size: 16px;
}

.amount {
    color: green;
}

button {
    background-color: #F5D748;
    width: 70px;
    border-radius: 8px;
}

/* button:hover{
    background-color: #EF7F88;
} */

.box {
    display: flex;
}

.deleteButton {
    position: absolute;
    top: 10px;
    right: 15px;
}