.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background: #ffffff;
    color: #4F0055;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.formContainer > div > label {
    margin-right: 15px;
}

.button {
    background-color: white;
    color: #220837;
    padding: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    text-align: center;
}

.button:first-child {
    margin-bottom: 10px;
}