.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #4C0641;
}

.modalBox {
    margin-top: 30vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContent > div {
    margin-bottom: 20px;
}

.formLabel {
    margin-right: 30px;
}

.buttons {
    display: flex;
}

.submitButton {
    font-size: 16px;
    margin: 10px;
    width: 120px;
}