.board {
    height: 65vh;
    width: 80vw;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    overflow: auto;

}

.board > div {
    width: 50%;
    height: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
}

.board > div > img {
    width: 100%;
    height:100%;
    object-fit: cover;
}

.customizeMissionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.customizeMissionForm > label > input {
    width: 150px;
    margin-left: 20px;
    background-color: #8fb1c3c7;
}
.customizeMissionForm > input {
    width: 100px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: 10px;
}

.errorMessage {
    color: black;
    font-size: small;
 }
 /* .customizedDiv {
     width: 30vw;
     height: 30vh;
 } */

@media (min-width: 800px) {
    .board > div {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        background-color: white;
    }
    .board {
      margin: 10px auto;
    }
}


