.board {
    width: 100%;
    height: 100%;
}

.board > img {
    position: absolute;
    width: 200px;
    top: -30px;
    right: -70px;
}


.page_title {
    color: white;
    text-align: left;
    margin-left: 10px;
    font-weight: bolder;
}