.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.editForm {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #4C0641;
    font-size: 16px;
    padding: 25px;
    margin-bottom: 10px;
    position: relative;
}

.editForm > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.editFormLabel {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
}

.formInput {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    font-size: 16px;
}



.submitButton {
    margin-top: 10px;
    background-color: #FFFFFF;
}





