.main {
    width: 95vw;
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.formContainer {
    width: 100%;
}

.inputColumn {
    display: flex;
    width: 70%;
    justify-content: center;
    font-size: 16px;
}

.formContent {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 8px;
    color: #4C0641;
    font-size: 16px;
    padding: 25px;
    margin-bottom: 10px;
}

.formContent > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.formContent > div > label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 100%;
    margin-right: 10px;
}

.genderSelect {
    text-align: center;
    text-align-last: center;
    width: 70%;
}

.genderSelect > option {
    text-align: left;
    font-size: 10px;
}

.profileIcon {
    background-color: #C4C4C4;
    border-radius: 8px;
}

.displayIcon {
    background-color: #C4C4C4;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.selectCheckbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
}

.selectCheckbox > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.selectIcon{
    margin-right: 2px;
}

.submitButton {
    margin-top: 10px;
    background-color: #FFFFFF;
}

/* HIDE RADIO */
[type=radio] { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    width: 30px;
    margin-top: 3px;
    margin-right: 1px;
}
  
/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 1px solid rgb(233, 229, 16);
}

/* [type=radio]:hover + img {
    box-shadow: 2px 2px 2px#282829;
} */



