.pinboard {
    background: #7886c7e3;
    height: 30%;
    width: 70%;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    font-size: 25px;
    font-weight: 900;
    max-width: 300px;
   margin: auto;
}
.header {
    position: relative;
} 

.header > button {
    font-size: small;
    width: 30px;
    height: 30px;
    border-radius: 150px;
    border: none;
    position: absolute;
    top: 1px;
    left: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > button :hover {
    box-shadow: 5px 5px  #8FB1C3;
}

.header > span {
    font-size: 18px;
    margin-left: 30px;
}



form > input{
    width: 70%;
    margin-bottom: 20px;
}

.submitButton {
    width: 100px;
    background-color: #8FB1C3;
    color: white;
}
.errorMessage {
    color: black;
    font-size: small;
 }