.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.botBox {
    position: relative;
    height: 100px;
}

.botImage {
    width: 60px;
    position: absolute;
    bottom: 0;
    right: 12px;
}

.block {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color:#340038;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0 0;
    padding: 10px;
    box-sizing: border-box;
    margin: 0 5px;
}

.cardBottom {
    background-color: #F5C812;
    height: 10px;
    margin: 0 5px 20px 5px;
    border-radius: 0 0 8px 8px;
}

.cardBottomBot {
    background-color: #49F1F1;
}

.title {
    font-size: 18px;
}

.botContent {
    font-size: 25px;
}

.content {
    /* font-size: 36px; */
    font-size: 140%;
    text-overflow: ellipsis;
 
}

.savingPlan {
    position: relative;
}

.rocketImage {
    position: absolute;
    width: 60px;
    bottom: -30px;
    left: -15px;  
}

@media screen and (max-width: 350px) {
    .block{
        padding: 5px;
    }
    .title {
        font-size: 16px;
    }
    .botContent {
        font-size: 20px;
    }
  }