.homepageIcon {
    width: 300px;
}

.submitButton {
    margin-top: 10px;
    background-color: #F5F3F5;
}

.buttons {
    margin-top: 30px;
}

.infobox {
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 2;
}

.infobox:hover {
    color: #c8bdd1;
}

.infoContainer {
    margin-top: 8vh;
    color: #220837;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.infoboxButton {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.infoboxHeader {
    display: block !important;
}

@media (max-height: 736px) { 

    .infoContainer {
        margin-top: 2vh;
        color: #220837;
        font-weight: bold;
        text-align: center;
        padding: 12px;
    }
}

@media (max-height: 568px) { 

    .infoContainer {
        margin-top: 1vh;
        color: #220837;
        font-weight: bold;
        text-align: center;
        padding: 5px;
        font-size: 11px;
    }
}