.knowledgeRow {
    background-color: #ffff;
    color: #000;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    margin: 10px;
    box-shadow: 1px 2px 3px grey;
    border-bottom: 5px solid #FFC700; 
  }
  
  .knowledgeRow:hover {
    cursor: pointer;
    background-color: gray;
  }
  
  .knowledgeTitle {
    font-size: 24px;
  }
  
  .title {
    font-size: 24px;
    margin: 20px;
  }
  
  .content{
      font-size: 18px;
      text-align: left;
  }
  
  .content > img{
    max-width:100%; 
    height:auto;
    display: block;
    margin:auto
  }

  .image{
      width: 100%;
  }
  
  .source{
      font-size: 14px;
      color: #000;
  }
  
  .source:hover{
      cursor: pointer;
  }

  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
  .loading > img{
    width: 50px;
    height: auto;
  }
  
  .button {
    background: linear-gradient(264.39deg, #fa9704 17.38%, #fa5d04 68.16%);
    border-radius: 20px;
    border: none;
    width: 100px;
    margin: 20px;
  }
  
  