.knowledge {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.knowledgeContent {
  width: 100%;
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  background-color: rgba(255, 255, 255, 0.918);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  color: #220837;
  height: 100%;
  overflow: scroll;
}

.knowledgeContent > div {
  width: 100%;
}

.reserved {
  height: 50px;
}

.knowledgeContent > form {
  height: 100%;
}
