.knowledgeNav{
    width: 100vw;
}

.knowledgeNav > h1{
    margin: 0;
    position: relative;
}


.knowledgeNav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0 0px;
    list-style: none;
    height: 32px;
}

.knowledgeNav > ul > li{
    display: flex;
    justify-content: center;
    align-items: center;

}

.knowledgeNav > ul > li > a{
    text-decoration: none;
    color:#00679C;
    position: relative;
    font-size: 18px;
    margin: 0;
    height: 32px;
    padding: 5px;
}

.knowledgeActive{
    background-color: rgba(255, 255, 255, 0.918);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 5px 10px;
}


/* Info Box */

.infoBox {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 20px;
    right: 20px;
}

.infobox:hover {
    color: #6401b4;
}

.infoContainer {
    margin-top: 10vh;
    color: #220837;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.infoboxButton {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.infoboxHeader {
    display: block !important;
}

@media screen and (max-width: 350px) {
    .knowledgeNav > ul > li > a{
        font-size: 16px;
        padding: 5px;
    }
  }