.loginPage {
    width: 80%;
}

h1 {
    margin-bottom: 30px;
}

.loginForm {
    background-color: #F5F3F5;
    color: #4C0641;
    padding: 10px 10px 20px 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;
}

.loginForm > div {
    margin: 10px 0;
}

.rocketImage {
    position: absolute;
    width: 70px;
    bottom: -30px;
    left: -25px;
    
}

input {
    background-color: #C4C4C4;
}

.submitButton {
    margin-top: 10px;
    background-color: #F5F3F5;
}

.forgetPasswordLink {
    margin: 20px;
    text-decoration: underline;
}

