.board {
    width: 100%;
    height: 85vh;
    padding: 10px;
}
.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.page_title {
    color: white;
    text-align: left;
    margin-left: 10px;
    font-weight: bolder;
}

.missionTargetBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.missionTargetsDiv {
    width: 90vw;
    height: 40vh;
    margin-bottom: 10px;
    overflow: auto;
}

.AddMissionTargetDiv {
    width: 90vw;
    height: 20vh;
    margin-bottom: 10px;
    overflow: auto;
}