/* Info Box */

.infobox {
    color: #220837;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
}

.infobox:hover {
    color: #6401b4;
}

.infoContainer {
    margin-top: 10vh;
    color: #220837;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.infoboxButton {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.infoboxHeader {
    display: block !important;
}