.board {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.842);
    border-radius: 20px;
}

.board > img {
    position: absolute;
    width: 100px;
    top: 50%;
    right: -40px;
    opacity: 0.7;
}
.singleMissionTargetBody {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    
    overflow: auto;
}
.singleMissionTarget {
    width: 90%;
    height:auto;
    background-color: white;
    margin-top: 12px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}
.mission_target_name {
  margin-top: 10px;
}
.star {
    color: #F5C813;
}