
.outerBoard {
    width: 100vw;
    /* height: 80vh; */
    height: 100%;
    display:flex;
    flex-direction: column;
}

.outerBoard > div{
    flex:1;
    display:flex;
    flex-direction: column;
}

.board {
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.page_title {
    color: white;
    text-align: center;
    margin-left: 10px;
    font-weight: bolder;
}

.add_mission {
    margin:10px 5px;
    width: 30%;
    height: auto;
    border: none;
    background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    padding: 5px;
}

.addMissionBoardSize {
    width: 85vw;
    height: 100%;
}

.functionButton {
    display: flex;
    justify-content: center;
}

.infobox {
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    /* z-index: 2; */
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  