.missionBoardNavbar {
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    /* margin-bottom: 10px; */
}

.missionBoardNavbar  > a {
    width: 50%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    
}

.title {
    padding: 10px;
    border-radius: 20px ;
    color: #3770A4;
}


.missionBoardActive  {
    background-color: rgba(255, 255, 255, 0.918);
    font-weight: 700;
}