.movie {
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.channelTitle {
  font-size: 18px;
  width: 100%;
}

.player{
  flex: 1;
}

.player > iframe{
  height:auto;
  width: 100%;
}

.playlist {
  display: flex;
  width: 80vw;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.425);
  overflow-x: scroll;
  overflow-y: hidden;
}

.playlist::-webkit-scrollbar {
  height: 12px;
}

.playlist::-webkit-scrollbar-track {
  background: rgb(255, 255, 255 , 0.6); /* color of the tracking area */
}

.playlist::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(0, 0, 0); /* creates padding around scroll thumb */
}

@media (min-width: 768px){
  .movie{
    flex-direction: row;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
  }
  .player{
    flex:1;
  }
  .player > iframe{
    width: 100%;
    height: 100%;
  }
  .videoSection{
    width: 100%;
    display: flex;
  }
  .playlist{
    width: 300px;
    height: 400px;
    flex-direction: column;
    overflow: scroll;
    text-overflow: ellipsis;
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading > img{
  width: 50px;
  height: auto;
}