.quiz {
  max-height: 60vh;
}

.title {
  font-size: 24px;
}

.quizTitle {
  margin: 15px 0;
  font-size: 24px;
  text-align: center;
  color: #220837;
}

.image > img {
  width: 80vw;
  height: auto;
  position: static;
  margin: 20px;
}

.questions {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.question {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

.modelAnwser {
  font-size: 16px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

.question > img {
  width: 200px;
  height: auto;
  position: static;
  margin: 10px;
  position: static;
}

.question > select {
  margin: 10px;
  border: 1px solid black;
}

.revision {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.modelAnwser > img {
  width: 200px;
  height: auto;
  position: static;
  margin: 10px;
  position: static;
}

.modelAnwser > .check,
.cross {
  font-size: 24px;
}

.modelAnwser > div > .check {
  color: greenyellow;
}

.modelAnwser > div > .cross {
  color: red;
}

.response {
  text-align: right;
}

.correctAnwsers {
  text-align: left;
  font-size: 14px;
}

.quizzes {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.quizzes > div {
  overflow: scroll;
  max-height: 50%;
}

.quiz {
  background-color: #ffff;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.quiz:hover {
  cursor: pointer;
  background-color: gray;
}

.quizName {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.quiz {
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 2px 3px grey;
  border-bottom: 5px solid #ffc700;
}

.completedQuiz {
  background-color: #ffff;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  margin: 10px;
  padding: 10px;
  box-shadow: 1px 2px 3px grey;
  border-bottom: 5px solid #ffc700;
}

.completedQuiz:hover {
  cursor: pointer;
  background-color: gray;
}

.score {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.loading > img {
  width: 50px;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.button {
  background: linear-gradient(264.39deg, #fa9704 17.38%, #fa5d04 68.16%);
  border-radius: 20px;
  border: none;
  width: 100px;
}


