.redeemButton {
    border: none;
    width: auto;
    height: auto;
    background-color: #8fb1c3c7;
    font-size: smaller;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px;
}