.main {
    padding-top: 30px;
    width: 95vw;
    overflow: scroll;
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.registrationForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F5F3F5;
    border-radius: 8px;
    color: #4C0641;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 10px;
    position: relative;
}

.registrationForm > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.registrationForm > div > label {
    display: flex;
    align-items: center;
    width: 30%;
    margin-right: 5px;
}

.formInput {
    width: 70%;
    font-size: 16px;
}

.genderSelect {
    text-align: center;
    text-align-last: center;
    width: 70%;
}

.genderSelect > option {
    text-align: left;
    font-size: 10px;
}

.submitButton {
    margin-top: 10px;
    background-color: #F5F3F5;
}

.rocketImage {
    position: absolute;
    width: 60px;
    bottom: -30px;
    left: -15px;  
}

.profileIcon {
    background-color: #C4C4C4;
    border-radius: 8px;
}

.displayIcon {
    background-color: #C4C4C4;
    border-radius: 8px;
    width: 100px;
}

.selectCheckbox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.selectCheckbox > label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.selectIcon{
    margin-right: 1px;
}

/* HIDE RADIO */
[type=radio] { 
    /* position: absolute; */
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
    width: 30px;
    margin-top: 3px;
    margin-right: 1px;
}
  
/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 1px solid rgb(233, 229, 16);
}

/* [type=radio]:hover + img {
    box-shadow: 2px 2px 2px#282829;
} */

.bottomSpace {
    height: 50px;
}

.pinInfoContainer {

    font-size: 13px;
}

.pinInfo {
    width: 70%;
}

.pinContent {
    text-align: left;
}

.pinInfoButton {
    margin: 0 3px;
    font-size: 12px;
    cursor: pointer;
}
