

.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}

.formContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 0;
    border-radius: 8px;
    color: #4C0641;
    width: 70%;
    font-size: 18px;
}

.formItem {
    margin-bottom: 10px;
}

.formLabel {
    text-align: center;
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 18px;
}

.formInput {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    font-size: 18px;
}

.submitButton {
    margin-top: 15px;
    background-color: #FFFFFF;
    font-size: 18px;
}