.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.imgBall {
    width: 80px;
    position: absolute;
    top: -30px;
    left: 5px;
    z-index: 1;
}

/* Info Box */

.infobox {
    color: #220837;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 2;
}

.infobox:hover {
    color: #6401b4;
}

.infoContainer {
    margin-top: 10vh;
    color: #220837;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.infoboxButton {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}

.infoboxHeader {
    display: block !important;
}

.container {
    width: 85vw;
    height: 80vh;
    /* overflow: auto; */
}

.savingReviewContainer {
    /* width: 80vw; */
    background:white;
    color: #220837;
    padding: 15px 2px 10px 2px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.savingReviewContainerItem {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.savingReviewAmount {
    font-size: 32px;
}

.savingReviewContainerMonth {
    background: #efefef;
    margin-bottom: 15px;
    color: #666666;
    font-size: 14px !important;
    width: 180px !important;
}

.savingButtonContainer {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    max-width: 100%;
}

.menu {
    background: white;
    border-radius: 5px;
    color: #888888;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-align: center;
}

.menuButtonContainter {
    display: flex;
    justify-content: space-evenly;
    align-items: center !important;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0px 5px 5px 0px;
    width: 60vw;
    height: 35px;
    position: absolute !important;
    left: 30px;
    z-index: 1;
}

.edit {
    background: rgba(189, 189, 189, 0.9);
    border-radius: 20px;
    color: #666666;
    padding: 3px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin: 0 !important;
}

.sort {
    background: rgba(189, 189, 189, 0.9);
    border-radius: 20px;
    color: #666666;
    padding: 3px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 140px;
    cursor: pointer;
    text-align: center;
    margin: 0 !important;
}

.visible {
    background: none !important;
    width: 100%;
    padding-top: 3px !important;
    padding-bottom: 0 !important;
    border: 0 !important;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
0%   { transform: translateY(3px); }
50%  { transform: translateY(-2px); }
100% { transform: translateY(3px); }
}

.add {
    background: white;
    color: #220837;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
.deletes {
    background:#4D3200;
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 24px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    padding: 0 !important;
  }

.deletes:hover {
    background:#694400;
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 24px;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  
.tableContainer {
    height: 40vh;
    overflow: auto;
}

.tableContainerMore {
    height: 50vh;
    overflow: auto;
}

/* for iPhone 8 or below */
@media (max-height: 667px) { 
    .tableContainer {
        height: 35vh;
        overflow: auto;
    }
    
    .tableContainerMore {
        height: 45vh;
        overflow: auto;
    }
}

/* for iPhone 5 or below */
@media (max-height: 568px) { 
    .tableContainer {
        height: 25vh;
        overflow: scroll;
    }
    
    .tableContainerMore {
        height: 38vh;
        overflow: scroll;
    }
}

.table {
    width: 85vw;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border-collapse: separate;
    border-spacing: 0px 5px;
  }

.eachItem {
    background: rgba(255, 199, 0, 0.9);
    color: #4D3200;
    height: 45px;
    font-size: 16px !important;
}

.eachItemIncome {
    background: rgba(255, 115, 0, 0.9);
    color: #4d1f00;
    height: 45px;
    font-size: 16px !important;
}

.eachItemSaving {
    background: rgba(245, 49, 0, 0.9);
    color: #4d1f00;
    height: 45px;
    font-size: 16px !important;
}

.eachItemIcon {
    color: rgba(255, 199, 0, 0.9);
}

.eachItemIncomeIcon {
    color: rgba(255, 115, 0, 0.9);
}

.eachItemSavingIcon {
    color: rgba(245, 49, 0, 0.9);
}

.table td:first-child {
    border-radius: 5px 0 0 5px;
  }
  
.table td:last-child {
    border-radius: 0 5px 5px 0;
  }

tr {
    width: 70vw;
}

/* for SavingCreate */

.createContainer {
    width: 85vw;
    height: 80%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
}

.createText {
    color: #220837;
}

.createInput {
    width: 250px;
    border-radius: 5px;
    text-align: center;
}

.createInputAmount {
    width: 250px !important;
    border-radius: 5px;
    text-align: center;
    height: 80px;
    font-size: 36px;
}

.createSubmit {
    background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    text-align: center;
    margin-right: 3px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: flash;
    animation-timing-function: ease;

}

@keyframes flash {
    0%   { opacity: 1; box-shadow: none; }
    75%   { opacity: 1; box-shadow: none; }
    80% { opacity: 1; box-shadow: 0px 0px 1px 1px orange }
    90%   { opacity: 1; box-shadow: 0px 0px 3px 2px rgb(255, 187, 0) }
    95% { opacity: 1; box-shadow: 0px 0px 2px 1px orange }
    100% { opacity: 1; box-shadow: 0px 0px 1px 0px orange }
    }
    

@media (max-width: 480px) {

    .edit {
        background: rgba(189, 189, 189, 0.7);
        border-radius: 20px;
        color: #666666;
        padding: 5px;
        border: 0;
        font-size: 14px;
        font-weight: bold;
        width: 55px;
        cursor: pointer;
        text-align: center;
    }
    
    .sort {
        background: rgba(189, 189, 189, 0.7);
        border-radius: 20px;
        color: #666666;
        padding: 5px;
        border: 0;
        font-size: 14px;
        font-weight: bold;
        width: 100px;
        cursor: pointer;
        text-align: center;
    }

    .createSubmit {
        background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
        color: white;
        border-radius: 20px;
        padding: 5px;
        border: 0;
        font-size: 16px;
        font-weight: bold;
        width: 135px;
        cursor: pointer;
        text-align: center;
    }
/* 
    .createContainer {
        width: 85vw;
        height: 80%;
        background: rgba(255, 255, 255, 0.85);
        border-radius: 5px;
        margin-bottom: 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;
        padding-top: 100px;
    } */
}

    
@media (max-width: 320px){

    .imgBall {
        display: none;
    }

    .createContainer {
        overflow: auto;
        position: relative;
    }

    .createContainer > form {
        margin-top: 60px;
    }

}

.createTypeButtonContainer {
    display: flex;
    justify-content: center;
    }

.createTypeButton {
    background: rgba(167, 163, 163, 0.83);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    }

.createTypeButtonActive {
    background: linear-gradient(264.39deg, #6C2ED0 17.38%, #012594 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
        }

.createTypeButton:hover {
    background: linear-gradient(264.39deg, #6C2ED0 17.38%, #012594 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 17px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    }

/* Chart  */

.canvas {
    border: white solid 18px;
    border-radius: 5px;
}

.canvasTable {
    border: white solid 18px;
    border-radius: 5px;
    background: white;
    font-size: 24px;
}

.balanceTable {
    margin-bottom: 0 !important;
}

.balanceAmount {
    color: #220837;
    font-size: 26px;
}

.balanceth {
    border-top: 2px lightgray double;
}

.balanceAmountPositive {
    color: #3CB371;
    font-size: 27px;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-name: fadeIn;
    animation-timing-function: ease;
}

.balanceAmountNegative {
    color: rgb(255, 72, 0);
    font-size: 27px;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-name: fadeIn;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0%   { opacity: 0.2; transform: translateY(15px); }
    70%   { opacity: 0.85; transform: translateY(1px); }
    100% { opacity: 1; transform: translateY(0px); }
    }

/* .viewChartContainer {
    display: flex;
    justify-content: flex-end;
} */

.viewChart {
    background: linear-gradient(264.39deg, #6C2ED0 17.38%, #012594 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 135px;
    cursor: pointer;
    text-align: center;
}

.savingMessageContainer {
    display: flex;
    width: 85vw;
    justify-content: center;
    align-items: center;
}

@media (max-width: 360px) {
    .viewChart {
        width: 100%;
    }
}

.savingMessage {
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: text;
    text-align: center;
    margin-bottom: 3px;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-name: fade;
    animation-timing-function: ease;
}

@keyframes fade {
0%   { opacity: 0; transform: translateY(15px); }
10%   { opacity: 0.7; transform: translateY(10px); }
50%  { opacity: 1; transform: translateY(0px); }
80%   { opacity: 1; transform: translateY(0px); }
100% { opacity: 0; transform: translateY(-15px); }
}

.spin {
    width: 19px;
    height: 19px;
}

.empty {
    height: 20px;
  }

.loading {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  
.loading > img{
    width: 50px;
    height: auto;
  }

.ToastBox {
    /* left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999; */
    position: relative; 
}

.ToastBoxText {
    font-size: 16px;
}