.table {
    width: 80vw;
    /* padding: 20px; */
    /* border-radius: 5px; */
    border-collapse: separate;
    border-spacing: 0px 5px;
  }

.eachItem {
    background: rgba(255, 199, 0, 0.9);
    color: #4D3200;
    height: 46px;
    font-size: 17px !important;
}

.eachItemIncome {
    background: rgba(255, 115, 0, 0.9);
    color: #4d1f00;
    height: 46px;
    font-size: 17px !important;
}

.eachItemSaving {
    background: rgba(245, 49, 0, 0.9);
    color: #4d1f00;
    height: 46px;
    font-size: 17px !important;
}

.table td:first-child {
    border-radius: 5px 0 0 5px;
  }
  
.table td:last-child {
    border-radius: 0 5px 5px 0;
  }

tr {
    width: 70vw;
}

