.container {
    width: 85vw;
    height: 80vh;
    overflow: scroll;
}

.chartButtonActive {
    background: linear-gradient(264.39deg, #6C2ED0 17.38%, #012594 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    }

.chartButton {
    background: rgba(167, 163, 163, 0.83);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    }

.createTypeButton:hover {
    background: linear-gradient(264.39deg, #6C2ED0 17.38%, #012594 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 90px;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    }

.totalSavingItemsContainer {
    font-size: 20px;
}

.canvas {
    border: white solid 18px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: relative;
}

.canvasTable {
    border: white solid 18px;
    border-radius: 5px;
    background: white;
    font-size: 24px;
    margin-bottom: 15px;
}

.balanceTable {
    margin-bottom: 0 !important;
}

.balanceAmount {
    color: #220837;
    font-size: 26px;
}

.balanceth {
    border-top: 2px lightgray double;
}

.balanceAmountPositive {
    color: #3CB371;
    font-size: 27px;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-name: fadeIn;
    animation-timing-function: ease;
}

.balanceAmountNegative {
    color: rgb(255, 72, 0);
    font-size: 27px;
    animation-duration: 1s;
    /* animation-iteration-count: infinite; */
    animation-name: fadeIn;
    animation-timing-function: ease;
}

@keyframes fadeIn {
    0%   { opacity: 0.2; transform: translateY(15px); }
    70%   { opacity: 0.85; transform: translateY(1px); }
    100% { opacity: 1; transform: translateY(0px); }
    }

.balanceContent {
    color: #666666;
    font-size: 17px;
}

.chartMessage {
    font-size: 24px;
    background: white;
    color: #220837;
}

.createSavingGoal {
    background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    cursor: pointer;
    text-align: center;
    margin-right: 3px;
}

@media (max-width: 320px) {
    .chartButtonActive {
        font-size: 14px;
        width: 75px;
        }
    
    .chartButton {
        font-size: 14px;
        width: 75px;
        }
    
    .createTypeButton:hover {
        font-size: 14px;
        width: 75px;
        }
}

.white {
    width: 65px;
    height: 20px;
    background: rgb(255, 255, 255);
    position: absolute;
    right: 0px;
    bottom: 0px;
}