.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #4C0641;
}

.modalBox {
    margin-top: 10vh
}


.buttons {
    display: flex;
}

.submitButton {
    font-size: 16px;
    margin: 10px;
    width: 120px;
}

.infoboxButton {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
}