.main {
    height:100%;
    padding-top: 30px;
    width: 95vw;
    display:flex;
    flex-direction: column;
}

.titleRow {
    position: relative;
}

.mainTitle {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.infobox {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: -5px;
    right: 20px;
    z-index: 2;
}

.square {
    background-color: #ffffff;
    border-radius: 8px;
    color: #4F0055;
    padding: 15px;
    height: 115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstSquare {
    margin-right: 5px;
}

.secondSquare{
    margin-left: 5px;
    position: relative;
}

.secondSquare:hover {
    background-color: #F5D748;
    cursor: pointer;
}

.imgBall {
    width: 65px;
    position: absolute;
    top: -20px;
    right: -20px;
}

.topMenuTitle {
    font-size: 18px;
}

.topMenuAmountNegative {
    /* font-size: 36px; */
    font-size: 140%;
    color: red;
}

.topMenuAmountPositive {
    /* font-size: 36px; */
    font-size: 140%;
}

.savingItemCol {
    overflow: scroll;
    height: 55vh;
}

.savingItemContainer {
    width: 100%;
    height: 100%;
}

.menuBar {
    padding: 2px 15px;
}

.tab{
    padding: 0;
}

.menu, .deleteButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.deleteButton {
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(264.39deg, #FA9704 17.38%, #FA5D04 68.16%);
    width: 60px;
    padding: 2px;
    font-size: 16px;
}

.menu > div {
    margin-left: 10px;
}

.clicked {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-underline-position: 5px;
}

.bottomSpace {
    height: 40px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.savingRow{
    flex:1;
    overflow: auto;
}

.savingCol{
    height: 100%;
}