.mission_card_board {
    height: 55vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.918);
    width: 85vw;
    padding: 20px 0px ;
}
.mission_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    margin: 20px 20px;
    padding: 10px;
    border-bottom: 10px #FFC700 solid;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px 0px rgb(177, 177, 177);
}
.mission_card_img {
    width: 120px;
    height: 120px;
    margin-right: 30px;
    position: static;
    object-fit: cover;
}

.mission_title {
    color: #9e9e9e;
    width: auto;
    max-width: 130px;
    /* padding: 5px 15px; */
    border-radius: 30px;
   
    font-weight: bold;
    /* text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap; */
}
.mission_details {
    color: #9e9e9e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-top: 20px; */
}

.complete_list_div {
    display: flex;
}
.complete_list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.complete_list > button > img {
    width: 30px;
    height: 30px;
}

.complete_list > button {
    width: auto;
    height: auto;
    border-radius: 150px;
    border: none;
    background: #FFC700;
    /* padding: 0px 10px; */
    font-weight: 900;
    margin-left: 5px;
}
