.mission_card_board {
    height: 60vh;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.918);
    width: 100vw;
    padding: 20px 0px ;
}
.mission_card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
   
}
.mission_card_img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    position: static;
}

.mission_title {
    color: rgb(255, 255, 255);
    width: 100px;
    padding: 5px;
    border-radius: 30px;
    background: rgb(184, 184, 184);
    font-weight: bold;
}
.mission_details {
    color: rgb(46, 45, 45);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-top: 20px;
}
.complete_list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.complete_list > button {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    border: none;
    color: white;
    background: linear-gradient(#012694c7, #6c2ed0bd);
}

