.formContainer {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.formContent {
    background-color: #ffffff;
    border-radius: 8px;
    color: #4C0641;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formInput {
    font-size: 16px;
    margin: 0 5px;
}

.email {
    font-style: italic;
    font-weight: 300;
}

.submitButton {
    background-color: #F5F3F5;
}

.resendCol {
    display: flex;
    justify-content: center;
}

.resendContainer {
    background-color: #959595;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resendContainer > p {
    margin-bottom: 3px;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

.link:hover {
    color: #000000;
}