.video {
  width: 300px;
  height: 180px;
  padding: 1px 0;
  background-color: antiquewhite;
  margin-right: 5px;
}

.thumbnail {
  position: static;
  width: 180px;
  height: auto;
}

.videoTitle {
  font-size: 16px;
  height: 80px;
  color: black;
  overflow: scroll;
}

@media (min-width: 768px) {
  .video {
      width: 100%;
      margin-bottom: 2px;
  }
}
