.App {
  padding-top: 10px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.GuestMain {
  display: flex;
  height: 100vh; 
  /* how about 100vh */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.Main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

select,
input,
.button {
  background-color: white;
  color: #220837;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
  text-align: center;
}

.modal-dialog{
  padding-top: 40px;
}