.navbar {
  /* background: #18111A; */
  color: white;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 20vh;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  z-index: 1;
}

.navBackground {
  position: fixed;
  background: #18111a;
  z-index: -1;
  width: 100vw;
  bottom: 0px;
  left: 0px;
  height: 7vh;
}

.navbar img {
  width: 60px;
  /* position: absolute; */
  bottom: 6vh;
  z-index: 1;
}

.navbarText {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:global(.active) {
  text-shadow: 0 0 10px lightgray;
}

a:global(.active) > div > div > img {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 350px) {
  .navbar{
    font-size: 14px;
  }
}
